---
import Hello from '../components/Hello.astro';
import Layout from '../layouts/Layout.astro';
import FirstSvelteComponent from '../components/FirstSvelteComponent.svelte';
import SSEexample from '../components/SSEexample.svelte';
import SSEChat from '../components/SSEChat.svelte';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	AAA
	<a href="/about">links</a>
	<Hello username="nika"></Hello>
	<FirstSvelteComponent client:visible/>
	<SSEexample client:visible />
	<SSEChat client:visible />
</Layout>
